body {
  display: block;
  margin: 0;
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 300;
  position: relative;
}

main {
  display: block;
}

div {
  display: block;
}

.container {
  background-color: rgb(217, 85, 80);
  min-height: 100vh;
  width: 100%;
  color: white;
  padding-bottom: 12px;
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top);
}

.header {
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
}

.header-content {
  background-color: inherit;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  color: white;
  margin: 0px;
  padding: 10px 0px;
  font-size: 20px;
}

.logo-icon {
  width: 20px;
  margin-right: 4px;
}

.logo a {
  color: white;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-left: 10px;
  font-size: 13px;
  padding: 8px 12px;
  min-width: 70px;
  border: none;
  color: white !important;
}

.button-icon {
  width: 16px;
}
