@font-face {
  font-family: "ArialRounded";
  font-display: swap;
  src: url("/fonts/ArialRounded/Arial_Rounded_MT.ttf") format("truetype");
}
@font-face {
  font-family: "ArialRounded";
  font-display: swap;
  src: url("/fonts/ArialRounded/Arial-Rounded-MT-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  display: block;
  margin: 0;
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 300;
  position: relative;
}

main {
  display: block;
}

div {
  display: block;
}

.container {
  background-color: rgb(217, 85, 80);
  min-height: 100vh;
  width: 100%;
  color: white;
  padding-bottom: 12px;
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top);
}

.header {
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
}

.header-content {
  background-color: inherit;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  color: white;
  margin: 0px;
  padding: 10px 0px;
  font-size: 20px;
}

.logo-icon {
  width: 20px;
  margin-right: 4px;
}

.logo a {
  color: white;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-left: 10px;
  font-size: 13px;
  padding: 8px 12px;
  min-width: 70px;
  border: none;
  color: white !important;
}

.button-icon {
  width: 16px;
}

.main-container {
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
}

.timer-container {
  text-align: center;
}

.container-padding-top {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin-bottom: 40px;
}

.container-shadow-top {
  height: 3px;
  background-color: white;
  border-radius: 100px;
  transform: translateY(-1px);
  width: 0%;
}

.timer-content {
  max-width: 480px;
  margin: auto;
}

.content {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0px 30px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 100%;
}

.timer-buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.timer-button {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none rgba(255, 255, 255, 0.2); /* rgba(255, 255, 255, 0.2) */
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
}

.timer-button:active {
  background: rgba(0, 0, 0, 0.15);
}

#timer-string {
  font-size: 120px;
  font-weight: bold;
  margin-top: 20px;
}

.start-button {
  cursor: pointer;
  border: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  font-family: ArialRounded;
  font-size: 22px;
  height: 55px;
  color: rgb(217, 85, 80);
  font-weight: bold;
  width: 200px;
  background-color: white;
  transition: color 0.5s ease-in-out 0s;
}
